body {
    /* background-color: aliceblue; */
    background-image: url(images\ \(1\).jpg);
    background-repeat: no-repeat; 
    background-position: left bottom;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    text-align: justify;
}

.p1 {
    text-align: left;
    /*Jarak antar huruf*/
    letter-spacing: 0.5px;
    /* Jarak anatar kata */
    word-spacing: 1px;
}
.p2{
    text-align: center;
}
.p3{
    text-align: right;
}
.p4{
    text-align: justify;
    /* lem = 16px */
    text-indent: 2em;
}

.dec1 {
    text-decoration: underline wavy rgb(58, 68, 211);
    text-transform: uppercase;
}